body{
    background-color: darkcyan;
    text-align: center;
}
h1{
    color: black;
}
h3{
    background-color: black;
    color: darkblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
th{
    padding: 20px;
    border-bottom: 10px solid crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}
tr:hover{
    color: antiquewhite;
}
img{
    border-radius: 20px;
}
a:hover{
    color: black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}